@model LibraryItem
<form method="post" id="form-@Model.Id">
    <input type="hidden" value="@Model.Id" name="id"/>
    <input class="btn btn-success" type="submit" asp-page-handler="View" value="Pokaż">
    @if (User.IsInRole(RoleNames.ADMIN))
    {
        <input class="btn btn-warning" type="submit" asp-page-handler="Edit" value="Edytuj">
        <input class="btn btn-danger" type="submit" asp-page-handler="Delete" value="Usuń"/>
    }
    
</form>   