@model LibraryItem
<form method="post" id="form-@Model.Id">
    <input type="hidden" value="@Model.Id" name="userId"/>
    <a class="btn btn-success" type="button" href="/Library/ViewItem?id=@Model.Id">Pokaż</a>
    @if (User.IsInRole(RoleNames.ADMIN))
    {
        <a class="btn btn-warning" type="button" href="/Library/EditItem?id=@Model.Id">Edytuj</a>
        <input class="btn btn-danger" type="submit" value="Usuń" asp-page-handler="Delete"/>
    }
    
</form>   