@page
@model ViewItemModel
@{
    ViewData["Title"] = "Edycja elementu";
}
<h1>@ViewData["Title"]</h1>

<div class="row align-middle align-content-center justify-content-center align-items-center">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="Item.Title" class="form-control" required/>
                <label asp-for="Item.Title"></label>
                <span asp-validation-for="Item.Title" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Item.Author" class="form-control" required/>
                <label asp-for="Item.Author"></label>
                <span asp-validation-for="Item.Author" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="Item.Publisher" class="form-control" required/>
                <label asp-for="Item.Publisher"></label>
                <span asp-validation-for="Item.Publisher" class="text-danger"></span>
            </div>
            <br/><br/>Tagi: <br/>
            <div class="form-floating">
                <input asp-for="Item.Tags[0]" class="form-control"/>
                <label asp-for="Item.Tags[0]"></label>
                <span asp-validation-for="Item.Tags[0]" class="text-danger"></span>
            </div>
            <div id="additional-tags">
                <div class="form-floating" >
                    <input name="Item.Tags[1]" class="form-control"/>
                    <label name="Item.Tags[1]"></label>
                </div>
            </div>
            
            <button type="button" class="btn btn-primary rounded-3 add-tag" onclick="addTagToForm();">Dodaj tag</button>
            <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Zapisz</button>
        </form>
    </div>
</div>