html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

.row form .btn {
    margin-top: 10px;
}

.form-control, #create-btn, #search-btn {
    margin-bottom: 5px;
    margin-top: 0;
}

#view-table th{
    padding-right: 20px;
    padding-left: 20px;
}

center {
    display: none;
}

body > div:nth-last-child(2) {
    display: none !important;
}